html{
    scroll-behavior: smooth;
}

::-moz-selection { 
    color: #3D405B;
    background: #F4F1DE;
  }
  
  ::selection {
    color: #3D405B;
    background: #F4F1DE;
  }
  
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    color: #3D405B;
    text-align: center;
}

.portraits {
    margin:auto;
    border-radius: 50%;
    padding:1px;
    margin-right: 1rem;
    margin-bottom: .25rem;
    border:.25px solid #3D405B;;
    background-color: #3D405B;
    max-width: 200px;
    float: left;
  }

#meet {
    text-align: center;
    margin-bottom: 20px;
}

#googleForm{
    width: 100%;
    height:1000px;
    margin:0;
    border-style: none;
  }

#footer {

    height: 50px;
    margin: auto;
    text-align: center;
}

.responsive {
  width: 25%;
  height: auto;
}
